//students page
.page-header{
    width: 100%;

}

.site-main-students{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#students{
    width: 300px;
    a{
        text-decoration: none;
        color:$color__link;
        font-weight: 700;
    }
    a:hover{
        color: $color__link-hover;
    }

    a:visited{
        color: $color__link-visited;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .entry-content{

        font-weight: 500;

        a{
            font-weight: 700;
            color: $color__link;
        }
    }

    
}
//students designer page
@media screen and (min-width: 768px) {
.site-main-designer{
    display: flex;
    flex-wrap: wrap;
    

    .entry-header{
        width: 100%;
        a{
            text-decoration: none;
        }
        .entry-title{
            color: $color__link;
        }
        .entry-title:visited{
            color: $color__link-visited;
        }

        .entry-title:hover{
            color: $color__link-hover;
        }
    }
    

    .page-header{
        width: 100%;
        
    }

    article{
        // display: flex;
        // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5rem 1fr;

    .entry-header{
        grid-column:1/6 ;
    }

    .post-thumbnail{
        grid-column: 1/2;
        margin-right: 2rem;
        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .entry-content{
        grid-column: 2/6;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;

        .wp-block-button{
            order: 2;
        }
    }
    }




}
}


//students developer page
@media screen and (min-width: 768px) {


.site-main-developer{
    display: flex;
    flex-wrap: wrap;
    

    .entry-header{
        width: 100%;
        a{
            text-decoration: none;
        }
        .entry-title{
            color: $color__link;
        }
        .entry-title:visited{
            color: $color__link-visited;
        }

        .entry-title:hover{
            color: $color__link-hover;
        }
    }
    

    .page-header{
        width: 100%;
        
    }

    article{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 5rem 1fr;

    .entry-header{
        grid-column:1/6 ;
    }

    .post-thumbnail{
        grid-column: 1/2;
        margin-right: 2rem;
        img{
            height: 100%;
            object-fit: cover;
        }
    }

    .entry-content{
        grid-column: 2/6;
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;

        .wp-block-button{
            order: 2;
        }
    }
    }
}
}


//single page

  
.single-rnb-students{


    .post-thumbnail{
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 0;
    width: 280px;
    height: auto;
    }
    p{
        a{
            text-decoration: none;
            font-weight: 700;
        }
    }
    @media screen and (min-width: 600px){

        .entry-content{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}
