.main-navigation {
  display: block;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul.sub-menu {
      background-color: gray;
    }
  }

  li {
    &:hover {
      background-color: #305c9f;
    }
    &:hover > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  border: none;
  background-color: transparent;
  display: block;
  padding: 0;

  svg {
    fill: white;
    cursor: pointer;
  }
}

// using nth-child so that we are not targeting submenu ul
.main-navigation.toggled ul:nth-child(1) {
  position: absolute;
  top: 100%;
  font-size: 1rem;
  z-index: 100;
  background: black;
  left: 0;
  right: 0;
  text-align: center;

  a {
    padding: 1rem;
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
    height: 100%;

    li {
      padding: 1rem 0.5rem;
    }

    ul {
      flex-direction: column;
      display: none;
      position: absolute;
      top: 100%;
      left: 0;

      li {
        padding: 0.5rem;
        background-color: black;
        margin: 0;

        &:hover ul {
          display: block;
        }

        a {
          width: 200px;
        }
      }
    }

    .menu-item-has-children {
      position: relative;
    }

    /* Show submenus when their parent menu item is hovered */
    .menu-item-has-children:hover > ul {
      display: block;
    }

    /* Show submenus when their child elements are hovered */
    .menu-item-has-children ul:hover {
      display: block;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
